h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  color: var(--color-primary-light);
}

p,
ul,
ol,
blockquote,
pre {
  margin-block: 1rem;
}

figure,
table,
div.callout {
  margin-block: 2rem;
}

img {
  width: 100%;
}

figcaption {
  color: var(--color-text-dimmed);
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

blockquote {
  padding: 0 1rem;
  color: var(--color-text-dimmed);
  border-left: 0.25rem solid var(--color-text-dimmer);
}

code {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-surface);
  border-radius: 4px;
  font-family: var(--font-cascadia-code);
}

pre {
  max-width: 100%;
  padding: 1em 0;
  overflow: auto;
  line-height: 1.45;
  min-height: 1.45rem;
  border-radius: 4px;
  white-space: pre;

  /* yellow 500 */
  --color-highlight: #eab30830;
  /* green 500 */
  --color-diff-add: #22c55e30;
  --color-diff-add-icon: #22c55e;
  /* red 500 */
  --color-diff-remove: #ef444430;
  --color-diff-remove-icon: #ef4444;
}

pre code {
  display: block;
  background-color: transparent;
  padding: 0;
  width: max-content;
  min-width: 100%;
  position: relative;
}

pre .line {
  display: inline-block;
  min-width: 100%;
  padding: 0.1em 1.25em;
}

pre .line.highlighted,
pre .line.highlighted-word {
  background-color: var(--color-highlight);
  font-weight: bold;
}

pre .line.highlighted-word {
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

pre .line.diff.add {
  background-color: var(--color-diff-add);
}

pre .line.diff.remove {
  background-color: var(--color-diff-remove);
}

pre .line.diff.add::before,
pre .line.diff.remove::before {
  position: absolute;
  left: 0.3em;
  font-weight: bold;
  user-select: none;
}

pre .line.diff.add::before {
  content: "+";
  color: #22c55e;
}

pre .line.diff.remove::before {
  content: "-";
  color: var(--color-diff-remove-icon);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 0.4em 1em;
  border: 2px solid var(--color-text-dimmer);
}

table th {
  background-color: var(--color-surface);
}

a[target="_blank"]::after {
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  content: "\f08e";
  margin-left: 0.4em;
  font-size: 70%;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: -2px;
}

div.callout {
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
}

.callout-content {
  font-size: 85%;
  line-height: 1.6;
}

#blog-post {
  font-size: 1.25rem;
}